:root{
 --azulzinho: #EFFBFF;
 --verde-neon: #e2ffdd;
}

html{
    scroll-behavior: smooth;
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/img/blackstraightgrid-extended-darker-b.jpg");
    background-color: var(--azulzinho);
    background-attachment: fixed;
    background-repeat: no-repeat;;
    display: block;
    background-size: cover;
}


/*classes tipografia e cores de fonte*/

.playfair4{
    font-family: 'Playfair Display', serif;
}

.playfair4it{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.playfair6{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.playfair6it{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
}

.playfair8{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.playfair8it{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
}

.bebasneue{
    font-family: 'Bebas Neue', cursive;
}


.fonte-red{
    color: var(--vermelho);
}

.fonte-azulzinha{
    color: var(--azulzinho);
}

.fonte-verde{
    color: var(--verde-neon);
}

.fonte-preta{
    color: black;
}

.fonte-branca{
    color: whitesmoke;
}

.fonte-g{
    font-size: 70px;
}

.fonte-m{
    font-size: 24px;
}

.fonte-p{
    font-size: 12px;
}

/*efeitos*/
.projeto-hover{
    position: relative;
  }
  
.overlay {
    position: absolute;
    object-fit: contain;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(2, 2, 34, 0.911);
    border-radius: 0%;
    display: block;
  }
  
.projeto-hover:hover .overlay {
    opacity: 0.9;
    filter: grayscale(.75);
  }
  
  a{
    text-decoration: none;
    color: white;
  }



/*apresentacao*/

#profile {
    padding: 0;
    height: 100vh;
    transition: all 0.5s ease;
    border: 1px solid rgba(255, 255, 255, 0);
    z-index: 9999;
}

.spoiler img{
    position:absolute;
    padding: 0;
    width: 100vh;
    height: 100vh;
    top: 0vh;
    left: 0vh;
    border-radius: 0%;
    z-index: -1;
    filter: grayscale(.75);

}

.descricao {
    position: fixed;
    top: 40vh;
    right: 12vh;
}

.descricao img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nome {
    position: fixed;
    top: 60vh;
    right: 12vh;
}

.social {
    position: fixed;
    top: 75vh;
    right: 12vh;
}

.social a,img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#retangulo {
    position: fixed;
    top:20vh;
    right:8vh;
    z-index: -2;
}

#retangulo img{
    width: 100px;
    height: 700px;
    border-radius: 0%;
}


/*posts de projetos*/

.projetos{
    width:90vh;
    margin-left: 10vh;
    padding: 0;
}
.projetos img{
    border-radius: 0%;
    width:100%;
    height:100%;
    object-fit: contain;
}





/* responsividade em telas <1200px */

@media screen and (max-width: 1200px) {

    .spoiler {
        display: none;
    }

    .descricao {
        position: static;
        margin-top: 15vh;
        margin-left: 5vh;
    }
    .nome {
        position: static;
        margin-top: 10vh;
        margin-left: 5vh;
    }

    .social {
        position: static;
        margin-top: 5vh;
        margin-left: 5vh;
    }


    .projetos{
        width:100vh;
        margin: auto;
    }
  }
  
  /* responsividade em telas <600px*/

  @media screen and (max-width: 600px) {

    .descricao img {
        margin: auto;
    }

    .projetos{
        width:60vh;
    }

  }

