:root{
 --vermelho: #a10000;
 --bege: #dfdbd2;
}

html{
    scroll-behavior: smooth;
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/img/beigestraightgrid-extended.jpg");
    background-color: var(--bege);
    background-attachment: fixed;
    background-repeat: no-repeat;;
    display: block;
    background-size: cover;
}

/*classes tipografia e cores de fonte*/
.playfair4{
    font-family: 'Playfair Display', serif;
}

.playfair4it{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.playfair6{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.playfair6it{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
}

.playfair8it{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
}

.staatliches4{
    font-family: 'Staatliches', cursive;
}

.fonte-red{
    color: var(--vermelho);
}

.fonte-bege{
    color: var(--bege)
}

.fonte-preta{
    color: black;
}

.fonte-branca{
    color: whitesmoke;
}



/*classes paleta de cores*/



/*efeitos*/


/*apresentacao*/

#profile {
    /*position: fixed;*/
    padding: 0;
    height: 100vh;
    transition: all 0.5s ease;
    border: dashed blue;
}

.descricao {
    margin-top: 50vh;
}

.descricao img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*margin: 0 auto;*/
}

.nome {
    position: absolute;
    margin-left: 45vh;
}

.social {
    margin-left: 60%;
}

.social a, img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/*posts de projetos*/





/* responsividade em telas <700px */
@media screen and (max-width: 700px) {
  
  }
  
  /* responsividade em telas <400px*/
  @media screen and (max-width: 400px) {
 

  }